body {
  margin: 0;
  padding: 0;
  background-color: #454972;
}

header::after {
}

.header-wrap {
  width: 1224px;
  height: 120px;
  max-width: calc(100% - 60px);
  margin: auto;
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 75px;
  position: relative;
}
.logo-text {
  position: absolute;
  text-align: center;
  left: 60px;
  font-size: 14px;
}
header .btn-join {
  float: right;
}

[class^="btn-"] {
  display: inline-block;
  padding: 1em 1em 1em 2.8em;
  text-decoration: none;
  color: #5a6a72;
}

main {
  width: 392px;
  margin: 71px auto 52px;
}

.login-text {
  display: block;
  text-align: center;
  color: #ffffff;
}

.label-style,
.input-style {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.input-style {
  /* border-width: 0 0 1px 0;
    border-color: #677880; */
  border: none;
  box-shadow: 0 1px 0 0 #677880;
  height: 48px;
  margin-bottom: 24px;
  transition: box-shadow 0.2s;
  border-radius: 4px 4px 0 0;
  padding: 0 16px;
  font-size: 16px;
}

.input-style:hover {
  /* border-color: #2e6ff2;
    border-bottom-width: 2px; */
  box-shadow: 0 2px 0 0 #fbe77d;
}

.input-style:focus {
  outline: none;
  /* border: 2px solid #2e6ff2; */
  box-shadow: 0 0 0 2px #fbe77d;
  border-radius: 4px;
}

.label-style {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 8px;
}

.btn-login {
  display: block;
  width: 100%;
  padding: 0;
  background: #29363d;
  color: white;
  height: 48px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
}
.btn-login:not(:disabled) {
  cursor: pointer;
}
.btn-login:disabled {
  opacity: 0.2;
}
.no-account {
  margin-top: 40px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.go-signup {
  font-size: 15px;
  text-decoration: none;
  color: #fbe77d;
}
